<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<!--
	<h1>Salut <%= @admin.first_name%></h1>
	<p>
		<%= @attendee.first_name%> a rejoint votre événement #{@event.title} %> !
	</p>
-->
<h1>Salut <%= @attendance.event.admin.first_name %> </h1>
    <p>
      Un nouveau participant c'est inscrit sur l'un de vos événements: <%= @attendance.event.admin.email %>.
    </p>
      <ul>
        <li> Evénemment : <%= @attendance.event.title %></li>
        <li> Nouveau participant : <%= @attendance.attendee.first_name %> <%= @attendance.attendee.last_name %></li>
        <li> Nombre d'inscrits : <%= @attendance.event.attendees.count %></li>
      </ul>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <a href="<%= @url %>"><%= @url %></a>.
    </p>
    <p> À très vite sur monsite.fr !
</body>
</html>